* {
    margin: 0;
}

body {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.nav-bar {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    padding-left: 10px;
    color: black;
}

a:hover {
    color: #333bff;
    text-decoration: underline dashed #08893e;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
   
}

.photo-card {
    /* background-color: #333bff; */
border: 2px solid #A9A9A9;
    margin-bottom: 20px;
    padding: 15px;
  }

.photo {
    width: max-content;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo-desc {
    text-align: center;
}

h4 {
    padding: 5px;
    text-decoration: underline;
}