* {
    margin: 0;
}

body {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.nav-bar {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    padding-left: 10px;
    color: black;
}

a:hover {
    color: #333bff;
    text-decoration: underline dashed #08893e;
}

.photo-container {
    display: grid;
    grid-template-columns: 3px 3px 3px 3px;
    grid-template-rows: 4px 4px 4px 4px;
}

.photo {
    width: 100px;
    height: 100px;
}